/*your css file have errors and duplicates
 I have highlighted and edited some of the errors and duplicates
 with comments.
 

 I suggest you update the entire css file.
 
 symtoms
 1.Duplicates
 2. Abuse of css margin property (learn about the diff between margins and padding)
 3. Abuse of css id (use classes when children is greater than one);

 I will be keeping an eye out for this project
 Good Luck

*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-family: 'Cabin Sketch', cursive;
    color: blue;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
}

#title span {
    color: yellow;
}

#title h1 {
    margin-top: 10px;
    margin-bottom: 10px
}

#quote h2 {
    margin-top: 5px;
    padding-bottom: 40px;
}

#quote,
footer {
    /*margin: 0 auto; its a duplicate*/ 
    width: 90%;
    height: 70px;
    margin: 40px auto;/*updates the margin at line 40*/
    text-align: center;
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 400px; wrong format*/
    font-size: 140%;/*updates the h2 tag size #quote h2*/
    /*border-radius: 5px;*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
}

footer {
    width: 100%
}


/* header div {
    width: 90%;
} */

.content {
    width: 90%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(3, auto) /*auto auto auto*/;
}

.card {
    height: 250px;
    width: 90%;
    margin-bottom: 2%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
    text-align: center;
    box-sizing: content-box;
}

.card h5,
.card p {
    margin: 0;
}

img {
    vertical-align: middle;
    padding-top: 4%;
}

/* 
img-resize {
    max-width: 100%;
    height: auto;
} 
doesnt have purpose*/